@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.presentation {
    background: url('../images/bg-hero-desktop.svg') no-repeat;
    width: 100vw;
    height: 70vh;
}